
@{
    Layout = null;
}

<h3>MVC KAMP TABLO ÖRNEĞİ-KATEGORİ</h3>
<br />
<table border="1" bgcolor="#aabbcc" height="25px" width="25px" >
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Burası Eğitim kategorisidir</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Tiyatro</td>
        <td>Burası Tiyatro kategorisidir</td>
        <td>True</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Burası Kitap kategorisidir</td>
        <td>True</td>
           
        
    </tr>
    <tr></tr>
</table>