@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ramazan Bilgiç<br />
    Türkiye, TR 09700<br />
    <abbr title="Phone">P:</abbr>
    5343974357
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ramazanbilgic0947@gmail.com">ramazanbilgic0947@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mardinli3276@gmail.com">mardinli3276@gmail.com</a>
</address>